<!DOCTYPE html>
<html lang="ja-JP">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="" />
<meta name="keywords" content="" />
<meta name="description" content="" />



<meta property="og:title" content="=TOP= of New Site 8" />
<meta property="og:type" content="website" />
<meta property="og:image" content="http:///bdflashinfo/thumbnail.png" />
<meta property="og:url" content="http://index.html" />
<meta property="og:site_name" content="New Site 8" />
<meta property="og:description" content="" />
<link rel="canonical" href="http://index.html" />

<title>=TOP= of New Site 8</title>

<link rel="stylesheet" type="text/css" href="_module/layout/style.css" id="layout-css" />
<link rel="stylesheet" type="text/css" href="_module/layout/_else.css" id="options-css" />
<link rel="stylesheet" type="text/css" href="_module/theme/default08/style.css" id="theme-css" />
<link rel="stylesheet" type="text/css" href="index.css?3450515591v603m" id="page-css" />
<script type="text/javascript" src="_module/js/script.js?l=0,t=default08,f=g,fs=m,c=033a" charset="utf-8" id="script-js"></script>
<script type="text/javascript">
<!--
var bdCssNames = {"area":["_cssskin/_area_header.css", "_cssskin/_area_billboard.css", "_cssskin/_area_main.css", "_cssskin/_area_side_a.css", "_cssskin/_area_side_b.css", "_cssskin/_area_footer.css"], "block":["_cssskin/_block_header.css", "_cssskin/_block_billboard.css", "_cssskin/_block_main.css", "_cssskin/_block_side_a.css", "_cssskin/_block_side_b.css", "_cssskin/_block_footer.css"]};
//-->
</script>
<!-- custom_tags_start -->
<script type="text/javascript">
</script>
<!-- custom_tags_end -->


</head>
<body id="L01" class="ML00">
<div id="page" class="thunder-bg"><div class="wind-bg">
<noscript><div id="no-script"><img src="_module/js/parts/noscript.gif" width="600" height="30" alt="Enable JavaScript in your browser. このウェブサイトはJavaScriptをオンにしてご覧下さい。" /><br /></div></noscript>

<div id="area-header" class="area noskin cssskin-_area_header"><div class="wrap">
<div class="atl"></div><div class="atr"></div><div class="atc"></div><div class="amm"><div class="aml"></div><div class="amr"></div><div class="amc">
<div id="bk1323" class="block plain cssskin-_block_header bd-sm-expert"><div class="col-2"><div class="simple skin-2 type-2"><div class="lhm">
<div class="column set-1"><!--このブロックでは余白のカスタム設定を利用しています。[行間&amp;余白設定]で確認、変更することができます。-->
<p><span class="img noborder"><a href="index.html"><img src="_src/sc787/sign.png" width="400" height="45" alt="" /><img src="_src/sc786/result.png" width="400" height="45" alt="" class="over-img" /></a></span></p></div><div class="column set-2">
<p class="ar"></p></div>
</div></div></div></div>
</div></div><div class="abl"></div><div class="abr"></div><div class="abc"></div></div></div>

<div id="area-billboard" class="area noskin cssskin-_area_billboard"><div class="wrap">
<div class="atl"></div><div class="atr"></div><div class="atc"></div><div class="amm"><div class="aml"></div><div class="amr"></div><div class="amc">
<div id="bk1335" class="block plain cssskin-_block_billboard bd-sm-expert"><div class="col-1"><div class="simple skin-2 type-2"><div class="lhm">
<div class="column set-1"><!--このブロックでは余白のカスタム設定を利用しています。[行間&amp;余白設定]で確認、変更することができます。-->
<p class="ac"><span class="img"><img src="_src/sc779/sign.png" width="200" height="200" alt="" /></span><br />
<br />
みんなの健康<br />
health and fitness</p></div>
</div></div></div></div>
</div></div><div class="abl"></div><div class="abr"></div><div class="abc"></div></div></div>

<div id="area-contents" class="area noskin"><div class="wrap">
<div class="atl"></div><div class="atr"></div><div class="atc"></div><div class="amm"><div class="aml c-aml"></div><div class="amr c-amr"></div><div class="amc c-amc">

<div id="main-group"><div class="core">
<div id="area-main" class="area noskin cssskin-_area_main"><div class="wrap">
<div class="atl"></div><div class="atr"></div><div class="atc"></div><div class="amm"><div class="aml"></div><div class="amr"></div><div class="amc">
<div id="bk1336" class="block plain cssskin-_block_main bd-sm-expert"><div class="col-1 picbk"><div class="simple skin-2 type-2"><div class="lhm">
<div class="column set-1"><!--このブロックでは余白のカスタム設定を利用しています。[行間&amp;余白設定]で確認、変更することができます。-->
<p class="ac"><br />
<span class="img"><a href="news.html"><img src="_src/sc811/sign.png" width="200" height="58" alt="" /><img src="_src/sc810/result.png" width="200" height="58" alt="" class="over-img" /></a></span><br />
<span class="img"><a href="sign_up.html"><img src="_src/sc815/sign.png" width="200" height="58" alt="" /><img src="_src/sc814/result.png" width="200" height="58" alt="" class="over-img" /></a></span><br />
<span class="img"><img src="_src/sc728/sign.png" width="200" height="58" alt="" /></span></p></div>
</div></div></div></div>
</div></div><div class="abl"></div><div class="abr"></div><div class="abc"></div></div></div></div>

<div id="area-side-b" class="area noskin side-group cssskin-_area_side_b"><div class="wrap">
<div class="atl"></div><div class="atr"></div><div class="atc"></div><div class="amm"><div class="aml"></div><div class="amr"></div><div class="amc">

</div></div><div class="abl"></div><div class="abr"></div><div class="abc"></div></div></div></div>

<div id="area-side-a" class="area noskin side-group cssskin-_area_side_a"><div class="wrap">
<div class="atl"></div><div class="atr"></div><div class="atc"></div><div class="amm"><div class="aml"></div><div class="amr"></div><div class="amc">

</div></div><div class="abl"></div><div class="abr"></div><div class="abc"></div></div></div>

</div></div><div class="abl"></div><div class="abr"></div><div class="abc"></div></div></div>
<div id="blank-footer"></div>
</div></div>

<div id="area-footer" class="area noskin cssskin-_area_footer"><div class="wrap">
<div class="atl"></div><div class="atr"></div><div class="atc"></div><div class="amm"><div class="aml"></div><div class="amr"></div><div class="amc">
<div id="bk1328" class="block plain cssskin-_block_footer bd-sm-expert"><div class="col-2"><div class="simple skin-2 type-2"><div class="lhm">
<div class="column set-1"><!--このブロックでは余白のカスタム設定を利用しています。[行間&amp;余白設定]で確認、変更することができます。--></div><div class="column set-2">
<address class="ar" /></div>
</div></div></div></div>
</div></div><div class="abl"></div><div class="abr"></div><div class="abc"></div></div></div>
</body>
</html>