<!DOCTYPE html>
<html lang="ja-JP">
<head>
<meta http-equiv="content-type" content="application/json; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="" />
<meta name="keywords" content="" />
<meta name="description" content="" />



<meta property="og:title" content="Sign up of New Site 8" />
<meta property="og:type" content="website" />
<meta property="og:image" content="http:///bdflashinfo/thumbnail.png" />
<meta property="og:url" content="http://sign_up.html" />
<meta property="og:site_name" content="New Site 8" />
<meta property="og:description" content="" />
<link rel="canonical" href="http://sign_up.html" />

<title>Sign up of New Site 8</title>

<link rel="stylesheet" type="text/css" href="_module/layout/style.css" id="layout-css" />
<link rel="stylesheet" type="text/css" href="_module/layout/_else.css" id="options-css" />
<link rel="stylesheet" type="text/css" href="_module/theme/default08/style.css" id="theme-css" />
<link rel="stylesheet" type="text/css" href="sign_up.css?3450515595v603m" id="page-css" />
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="_module/js/script.js?l=0,t=default08,f=g,fs=m,c=033a" charset="utf-8" id="script-js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">
<!--
var bdCssNames = {"area":["_cssskin/_area_header.css", "_cssskin/_area_billboard.css", "_cssskin/_area_main.css", "_cssskin/_area_side_a.css", "_cssskin/_area_side_b.css", "_cssskin/_area_footer.css"], "block":["_cssskin/_block_header.css", "_cssskin/_block_billboard.css", "_cssskin/user_regist.css", "_cssskin/_block_main.css", "_cssskin/_block_side_a.css", "_cssskin/_block_side_b.css", "_cssskin/_block_footer.css"]};
//-->
</script>
<!-- custom_tags_start -->
<script type="text/javascript">
	$(document).ready(function(){
	    $("#datepicker").datepicker({dateFormat: 'yy-mm-dd'});

	});
</script>
<!-- custom_tags_end -->


</head>
<body id="L01" class="ML00">
<div id="page" class="thunder-bg"><div class="wind-bg">
<noscript><div id="no-script"><img src="_module/js/parts/noscript.gif" width="600" height="30" alt="Enable JavaScript in your browser. このウェブサイトはJavaScriptをオンにしてご覧下さい。" /><br /></div></noscript>

<div id="area-header" class="area noskin cssskin-_area_header"><div class="wrap">
<div class="atl"></div><div class="atr"></div><div class="atc"></div><div class="amm"><div class="aml"></div><div class="amr"></div><div class="amc">
<div id="bk1575" class="block plain cssskin-_block_header bd-sm-expert"><div class="col-2"><div class="simple skin-2 type-2"><div class="lhm">
<div class="column set-1"><!--このブロックでは余白のカスタム設定を利用しています。[行間&amp;余白設定]で確認、変更することができます。-->
<p><span class="img noborder"><a href="index.html"><img src="_src/sc787/sign.png" width="400" height="45" alt="" /><img src="_src/sc786/result.png" width="400" height="45" alt="" class="over-img" /></a></span></p></div><div class="column set-2">
<p class="ar"></p></div>
</div></div></div></div>
</div></div><div class="abl"></div><div class="abr"></div><div class="abc"></div></div></div>

<div id="area-billboard" class="area noskin cssskin-_area_billboard"><div class="wrap">
<div class="atl"></div><div class="atr"></div><div class="atc"></div><div class="amm"><div class="aml"></div><div class="amr"></div><div class="amc">
<div id="bk1576" class="block plain cssskin-_block_billboard bd-sm-expert"><div class="col-1"><div class="simple skin-1 type-1"><div class="lhm mgn">
<div class="column nocontents">

</div>
</div></div></div></div>
</div></div><div class="abl"></div><div class="abr"></div><div class="abc"></div></div></div>

<div id="area-contents" class="area noskin"><div class="wrap">
<div class="atl"></div><div class="atr"></div><div class="atc"></div><div class="amm"><div class="aml c-aml"></div><div class="amr c-amr"></div><div class="amc c-amc">

<div id="main-group"><div class="core">
<div id="area-main" class="area noskin cssskin-_area_main"><div class="wrap">
<div class="atl"></div><div class="atr"></div><div class="atc"></div><div class="amm"><div class="aml"></div><div class="amr"></div><div class="amc">
<div id="bk1733" class="block plain cssskin-user_regist bd-sm-expert"><div class="col-1"><div class="simple skin-1 type-1"><div class="lhm">
<div class="column set-1">
<p><!-- custom_tags_start -->
<span class="bdnavi breadcrumb-1"><a href="/">HOME</a><span> > </span><em>Sign up</em></span>
<!-- custom_tags_end --></p></div>
</div></div></div></div>


<div id="bk1578" class="block plain cssskin-user_regist bd-sm-expert"><div class="col-1 picbk"><div class="simple skin-2 type-2"><div class="lhm">
<div class="column set-1"><!--このブロックでは余白のカスタム設定を利用しています。[行間&amp;余白設定]で確認、変更することができます。-->
<p class="ac"><span class="img"><img src="_src/sc917/sign.png" width="600" height="220" alt="" /></span></p></div>
</div></div></div></div>


<div id="bk1590" class="block plain cssskin-user_regist bd-sm-expert"><div class="col-1"><div class="simple skin-2 type-2"><div class="lhm">
<div class="column set-1"><!--このブロックでは余白のカスタム設定を利用しています。[行間&amp;余白設定]で確認、変更することができます。-->
<div class="h3"><h3 class="ac"><span class="img"><img src="_src/sc892/sign.png" width="600" height="35" alt="" /></span></h3></div>
<p>こちらのフォームではあなたのログイン情報を入力してください。ユーザー名はログインメンバーに公開されますので、本名ではなくニックネームで入力してください。パスワードは英数字８桁以上１０桁未満で入力してください。</p></div>
<% if(errors) { %>
	<%- errors %>
<% } %>
</div></div></div></div>

<form action="/registUser" method="post" id="registForm">
<div id="bk1595" class="block plain cssskin-_block_main bd-sm-smart"><div class="col-1"><div class="simple skin-1 type-1"><div class="lhm">
<div class="column set-1">
<div class="ac"><table style="border-collapse: collapse; width: 600px;">
<!-- <input type="hidden" name="_csrf" value="token" /> -->
<tbody>
<tr>
<td style="width: 150px; height: 40px; background-color: #ebebeb; border: 1px solid #dddddd;">ユーザー名 <span style="color: #ff0000;">※</span></td>
<td style="background-color: #ffffff; border: 1px solid #dddddd;"><input name="username" size="20" type="text" /></td>
</tr>
<tr>
<td style="height: 40px; background-color: #ebebeb; border: 1px solid #dddddd;">パスワード&nbsp;<span style="color: #ff0000;">※</span></td>
<td style="background-color: #ffffff; border: 1px solid #dddddd;"><input name="password" size="10" type="password" /></td>
</tr>
<tr>
<td style="height: 40px; background-color: #ebebeb; border: 1px solid #dddddd;">パスワード(再入力)&nbsp;<span style="color: #ff0000;">※</span></td>
<td style="background-color: #ffffff; border: 1px solid #dddddd;"><input name="password2" size="10" type="password" /></td>
</tr>
<tr>
<td style="height: 40px; background-color: #ebebeb; border: 1px solid #dddddd;">メールアドレス&nbsp;<span style="color: #ff0000;">※</span></td>
<td style="background-color: #ffffff; border: 1px solid #dddddd;"><input name="mailAddress" size="60" type="text" /></td>
</tr>
<tr>
<td style="height: 40px; background-color: #ebebeb; border: 1px solid #dddddd;">メールアドレス(再入力)&nbsp;<span style="color: #ff0000;">※</span></td>
<td style="background-color: #ffffff; border: 1px solid #dddddd;"><input name="mailAddress2" size="60" type="text" /></td>
</tr>
<tr>
<td style="height: 40px; background-color: #ebebeb; border: 1px solid #dddddd;">性別&nbsp;<span style="color: #ff0000;">※</span></td>
<td style="background-color: #ffffff; border: 1px solid #dddddd;"><select name="gender"> <option value="0">男性</option> <option value="1">女性</option> </select></td>
</tr>
<tr>
<td style="height: 40px; background-color: #ebebeb; border: 1px solid #dddddd;">生年月日&nbsp;<span style="color: #ff0000;">※</span></td>
<td style="background-color: #ffffff; border: 1px solid #dddddd;"><input id="datepicker" maxlength="10" name="birthDate" size="10" type="text" /></td>
</tr>
<tr>
<td style="height: 40px; background-color: #ebebeb; border: 1px solid #dddddd;">都道府県&nbsp;<span style="color: #ff0000;">※</span></td>
<td style="background-color: #ffffff; border: 1px solid #dddddd;">
		<select name="prefecture" id="pref">
			<option value="-1">----</option>
			<option value="01">北海道</option>
			<option value="02">青森県</option>
			<option value="03">岩手県</option>
			<option value="04">宮城県</option>
			<option value="05">秋田県</option>
			<option value="06">山形県</option>
			<option value="07">福島県</option>
			<option value="08">茨城県</option>
			<option value="09">栃木県</option>
			<option value="10">群馬県</option>
			<option value="11">埼玉県</option>
			<option value="12">千葉県</option>
			<option value="13">東京都</option>
			<option value="14">神奈川県</option>
			<option value="15">新潟県</option>
			<option value="16">富山県</option>
			<option value="17">石川県</option>
			<option value="18">福井県</option>
			<option value="19">山梨県</option>
			<option value="20">長野県</option>
			<option value="21">岐阜県</option>
			<option value="22">静岡県</option>
			<option value="23">愛知県</option>
			<option value="24">三重県</option>
			<option value="25">滋賀県</option>
			<option value="26">京都府</option>
			<option value="27">大阪府</option>
			<option value="28">兵庫県</option>
			<option value="29">奈良県</option>
			<option value="30">和歌山県</option>
			<option value="31">鳥取県</option>
			<option value="32">島根県</option>
			<option value="33">岡山県</option>
			<option value="34">広島県</option>
			<option value="35">山口県</option>
			<option value="36">徳島県</option>
			<option value="37">香川県</option>
			<option value="38">愛媛県</option>
			<option value="39">高知県</option>
			<option value="40">福岡県</option>
			<option value="41">佐賀県</option>
			<option value="42">長崎県</option>
			<option value="43">熊本県</option>
			<option value="44">大分県</option>
			<option value="45">宮崎県</option>
			<option value="46">鹿児島県</option>
			<option value="47">沖縄県</option>
		</select>
</td>
</tr>
<tr>
<td style="height: 40px; background-color: #ebebeb; border: 1px solid #dddddd;">プロフィール&nbsp;<span style="color: #ff0000;">※</span></td>
<td style="background-color: #ffffff; border: 1px solid #dddddd;"><textarea cols="60" rows="5" name="profile"></textarea></td>
</tr>
</tbody>
</table></div></div>
</div></div></div></div>


<div id="bk1691" class="block plain cssskin-user_regist bd-sm-expert"><div class="col-1"><div class="simple skin-1 type-1"><div class="lhm mgn">
<div class="column set-1">
<p class="ar"><a href="javascript:document.getElementById('registForm').submit();"><span class="img"><img src="_src/sc956/93o985e837b835e8393.png" width="101" height="51" alt="登録ボタン.png" /></span></a></p></div>
</div></div></div></div>
</form>

<div id="bk1653" class="block plain cssskin-_block_main bd-sm-expert"><div class="col-1"><div class="simple skin-2 type-2"><div class="lhm">
<div class="column set-1"><!--このブロックでは余白のカスタム設定を利用しています。[行間&amp;余白設定]で確認、変更することができます。-->
<p class="ar"><!-- custom_tags_start -->
<a href="#page" class="link-top"><span>ページトップへ</span></a>
<!-- custom_tags_end --></p></div>
</div></div></div></div>
</div></div><div class="abl"></div><div class="abr"></div><div class="abc"></div></div></div></div>

<div id="area-side-b" class="area noskin side-group cssskin-_area_side_b"><div class="wrap">
<div class="atl"></div><div class="atr"></div><div class="atc"></div><div class="amm"><div class="aml"></div><div class="amr"></div><div class="amc">

</div></div><div class="abl"></div><div class="abr"></div><div class="abc"></div></div></div></div>

<div id="area-side-a" class="area noskin side-group cssskin-_area_side_a"><div class="wrap">
<div class="atl"></div><div class="atr"></div><div class="atc"></div><div class="amm"><div class="aml"></div><div class="amr"></div><div class="amc">

</div></div><div class="abl"></div><div class="abr"></div><div class="abc"></div></div></div>

</div></div><div class="abl"></div><div class="abr"></div><div class="abc"></div></div></div>
<div id="blank-footer"></div>
</div></div>

<div id="area-footer" class="area noskin cssskin-_area_footer"><div class="wrap">
<div class="atl"></div><div class="atr"></div><div class="atc"></div><div class="amm"><div class="aml"></div><div class="amr"></div><div class="amc">
<div id="bk1589" class="block plain cssskin-_block_footer bd-sm-expert"><div class="col-2"><div class="simple skin-2 type-2"><div class="lhm">
<div class="column set-1"><!--このブロックでは余白のカスタム設定を利用しています。[行間&amp;余白設定]で確認、変更することができます。--></div><div class="column set-2">
<address class="ar" /></div>
</div></div></div></div>
</div></div><div class="abl"></div><div class="abr"></div><div class="abc"></div></div></div>
</body>
</html>