<!DOCTYPE html>
<html lang="ja-JP">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="" />
<meta name="keywords" content="" />
<meta name="description" content="" />



<meta property="og:title" content="Social of New Site 8" />
<meta property="og:type" content="website" />
<meta property="og:image" content="http:///bdflashinfo/thumbnail.png" />
<meta property="og:url" content="http://social.html" />
<meta property="og:site_name" content="New Site 8" />
<meta property="og:description" content="" />
<link rel="canonical" href="http://social.html" />

<title>Social of New Site 8</title>

<link rel="stylesheet" type="text/css" href="_module/layout/style.css" id="layout-css" />
<link rel="stylesheet" type="text/css" href="_module/layout/_else.css" id="options-css" />
<link rel="stylesheet" type="text/css" href="_module/theme/default08/style.css" id="theme-css" />
<link rel="stylesheet" type="text/css" href="social.css?3450515731v603m" id="page-css" />
<script type="text/javascript" src="_module/js/script.js?l=0,t=default08,f=g,fs=m,c=033a" charset="utf-8" id="script-js"></script>
<script type="text/javascript">
<!--
var bdCssNames = {"area":["_cssskin/_area_header.css", "_cssskin/_area_billboard.css", "_cssskin/_area_main.css", "_cssskin/_area_side_a.css", "_cssskin/_area_side_b.css", "_cssskin/_area_footer.css"], "block":["_cssskin/_block_header.css", "_cssskin/_block_billboard.css", "_cssskin/_block_main.css", "_cssskin/_block_side_a.css", "_cssskin/_block_side_b.css", "_cssskin/_block_footer.css"]};
//-->
</script>
<!-- custom_tags_start -->
<script type="text/javascript">
</script>
<!-- custom_tags_end -->


</head>
<body id="L03" class="ML00">
<div id="page" class="thunder-bg"><div class="wind-bg">
<noscript><div id="no-script"><img src="_module/js/parts/noscript.gif" width="600" height="30" alt="Enable JavaScript in your browser. このウェブサイトはJavaScriptをオンにしてご覧下さい。" /><br /></div></noscript>

<div id="area-header" class="area noskin cssskin-_area_header"><div class="wrap">
<div class="atl"></div><div class="atr"></div><div class="atc"></div><div class="amm"><div class="aml"></div><div class="amr"></div><div class="amc">
<div id="bk1716" class="block plain cssskin-_block_header bd-sm-expert"><div class="col-2"><div class="simple skin-2 type-2"><div class="lhm">
<div class="column set-1"><!--このブロックでは余白のカスタム設定を利用しています。[行間&amp;余白設定]で確認、変更することができます。-->
<p><span class="img noborder"><a href="index.html"><img src="_src/sc787/sign.png" width="400" height="45" alt="" /><img src="_src/sc786/result.png" width="400" height="45" alt="" class="over-img" /></a></span></p></div><div class="column set-2">
<p class="ar"></p></div>
</div></div></div></div>
</div></div><div class="abl"></div><div class="abr"></div><div class="abc"></div></div></div>

<div id="area-billboard" class="area noskin cssskin-_area_billboard"><div class="wrap">
<div class="atl"></div><div class="atr"></div><div class="atc"></div><div class="amm"><div class="aml"></div><div class="amr"></div><div class="amc">
<div id="bk1717" class="block plain cssskin-_block_billboard bd-sm-expert"><div class="col-1"><div class="simple skin-1 type-1"><div class="lhm mgn">
<div class="column nocontents">

</div>
</div></div></div></div>
</div></div><div class="abl"></div><div class="abr"></div><div class="abc"></div></div></div>

<div id="area-contents" class="area noskin"><div class="wrap">
<div class="atl"></div><div class="atr"></div><div class="atc"></div><div class="amm"><div class="aml c-aml"></div><div class="amr c-amr"></div><div class="amc c-amc">

<div id="main-group"><div class="core">
<div id="area-main" class="area noskin cssskin-_area_main"><div class="wrap">
<div class="atl"></div><div class="atr"></div><div class="atc"></div><div class="amm"><div class="aml"></div><div class="amr"></div><div class="amc">
<div id="bk1718" class="block plain cssskin-_block_main bd-sm-expert"><div class="col-1"><div class="simple skin-1 type-1"><div class="lhm mgn">
<div class="column set-1">
<p class="ar">○○さんがログイン中 / ログアウト</p></div>
</div></div></div></div>


<div id="bk1719" class="block plain cssskin-_block_main bd-sm-expert"><div class="col-1"><div class="simple skin-2 type-2"><div class="lhm">
<div class="column set-1"><!--このブロックでは余白のカスタム設定を利用しています。[行間&amp;余白設定]で確認、変更することができます。-->
<p><!-- custom_tags_start -->
<span class="bdnavi breadcrumb-1"><a href="index.html">HOME</a><span> > </span><em>Social</em></span>
<!-- custom_tags_end --></p></div>
</div></div></div></div>


<div id="bk1720" class="block plain cssskin-_block_main bd-sm-expert"><div class="col-1"><div class="simple skin-2 type-2"><div class="lhm">
<div class="column set-1"><!--このブロックでは余白のカスタム設定を利用しています。[行間&amp;余白設定]で確認、変更することができます。-->
<p class="ac"><span class="img"><img src="_src/sc925/sign.png" width="600" height="220" alt="" /></span></p>
<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p></div>
</div></div></div></div>


<div id="bk1721" class="block plain cssskin-_block_main bd-sm-expert"><div class="col-1"><div class="simple skin-2 type-2"><div class="lhm">
<div class="column set-1"><!--このブロックでは余白のカスタム設定を利用しています。[行間&amp;余白設定]で確認、変更することができます。-->
<div class="h3"><h3 class="ac"><span class="img"><img src="_src/sc927/sign.png" width="600" height="35" alt="" /></span></h3></div>
<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p></div>
</div></div></div></div>


<div id="bk1722" class="block plain cssskin-_block_main bd-sm-smart"><div class="col-1"><div class="simple skin-1 type-1"><div class="lhm">
<div class="column set-1">
<div class="ac"><table style="border-collapse: collapse; width: 100%; border: 1px solid #8a8a8a;">
<tbody>
<tr>
<td style="text-align: center; height: 30px; background-color: #c4c2c2; border: 1px solid #dddddd;" colspan="3">ログイン中のユーザー</td>
</tr>
<tr>
<td style="text-align: center; height: 50px; background-color: #ffffff; border: 1px solid #dddddd;"><span style="font-size: x-small;"><span style="font-size: 10px;">ログインユーザー名</span></span></td>
<td style="text-align: center; height: 50px; background-color: #ffffff; border: 1px solid #dddddd;">性別</td>
<td style="text-align: center; height: 50px; background-color: #ffffff; border: 1px solid #dddddd;">都道府県</td>
</tr>
<tr>
<td style="background-color: #ffffff; text-align: center; border: 1px solid #dddddd;"><span style="font-size: x-small;"><span style="font-size: 10px;">25</span></span></td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;1000</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;2000</td>
</tr>
<tr>
<td style="background-color: #ffffff; text-align: center; border: 1px solid #dddddd;"><span style="font-size: x-small;"><span style="font-size: 10px;">50</span></span></td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;1000</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;2000&nbsp;</td>
</tr>
<tr>
<td style="background-color: #ffffff; text-align: center; border: 1px solid #dddddd;"><span style="font-size: x-small;"><span style="font-size: 10px;">100</span></span></td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;1000</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;2000&nbsp;</td>
</tr>
<tr>
<td style="background-color: #ffffff; text-align: center; border: 1px solid #dddddd;"><span style="font-size: x-small;"><span style="font-size: 10px;">250</span></span></td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;2000</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;3000&nbsp;</td>
</tr>
<tr>
<td style="background-color: #ffffff; text-align: center; border: 1px solid #dddddd;"><span style="font-size: x-small;"><span style="font-size: 10px;">500</span></span></td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;2000</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;3000&nbsp;</td>
</tr>
<tr>
<td style="background-color: #ffffff; text-align: center; border: 1px solid #dddddd;"><span style="font-size: x-small;"><span style="font-size: 10px;">1000</span></span></td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">2000</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">3000&nbsp;</td>
</tr>
</tbody>
</table></div></div>
</div></div></div></div>


<div id="bk1724" class="block plain cssskin-_block_main bd-sm-expert"><div class="col-1"><div class="simple skin-2 type-2"><div class="lhm">
<div class="column set-1"><!--このブロックでは余白のカスタム設定を利用しています。[行間&amp;余白設定]で確認、変更することができます。-->
<p class="ar"><!-- custom_tags_start -->
<a href="#page" class="link-top"><span>ページトップへ</span></a>
<!-- custom_tags_end --></p></div>
</div></div></div></div>
</div></div><div class="abl"></div><div class="abr"></div><div class="abc"></div></div></div></div>

<div id="area-side-b" class="area noskin side-group cssskin-_area_side_b"><div class="wrap">
<div class="atl"></div><div class="atr"></div><div class="atc"></div><div class="amm"><div class="aml"></div><div class="amr"></div><div class="amc">

</div></div><div class="abl"></div><div class="abr"></div><div class="abc"></div></div></div></div>

<div id="area-side-a" class="area noskin side-group cssskin-_area_side_a"><div class="wrap">
<div class="atl"></div><div class="atr"></div><div class="atc"></div><div class="amm"><div class="aml"></div><div class="amr"></div><div class="amc">
<div id="bk1725" class="block plain cssskin-_block_side_a bd-sm-expert"><div class="col-1 picbk"><div class="simple skin-2 type-2"><div class="lhm">
<div class="column set-1"><!--このブロックでは余白のカスタム設定を利用しています。[行間&amp;余白設定]で確認、変更することができます。-->
<p class="ac"><span class="img"><a href="news.html"><img src="_src/sc889/sign.png" width="180" height="58" alt="" /></a></span><br />
<span class="img"><a href="weight_control_management.html"><img src="_src/sc829/sign.png" width="180" height="58" alt="" /><img src="_src/sc828/result.png" width="180" height="58" alt="" class="over-img" /></a></span><br />
<span class="img"><a href="dietary_management.html"><img src="_src/sc830/sign.png" width="180" height="58" alt="" /></a></span><br />
<span class="img"><a href="excercise_management.html"><img src="_src/sc831/sign.png" width="180" height="58" alt="" /></a></span><br />
<span class="img"><a href="social.html"><img src="_src/sc919/sign.png" width="180" height="58" alt="" /></a></span><br />
<span class="img"><a href="edit_profile.html"><img src="_src/sc923/sign.png" width="180" height="58" alt="" /></a></span><br />
<span class="img"><img src="_src/sc745/sign.png" width="180" height="58" alt="" /></span><br /></p></div>
</div></div></div></div>


<div id="bk1731" class="block plain cssskin-_block_side_a bd-sm-smart"><div class="col-1"><div class="simple skin-1 type-1"><div class="lhm mgn">
<div class="column set-1">
<div class="ac"><table style="border-collapse: collapse; background-color: #ffffff; width: 100%;">
<tbody>
<tr>
<td style="text-align: center; background-color: #ffffff; height: 30px; border: 1px solid #dddddd;" colspan="7"><strong>BiND LOVES DESIGN</strong></td>
</tr>
<tr>
<td style="text-align: center; background-color: #ffeded; width: 14.3%; border: 1px solid #dddddd;"><strong><span style="color: #e71c17;">日</span></strong></td>
<td style="text-align: center; background-color: #f0f0f0; width: 14.3%; border: 1px solid #dddddd;"><strong>月</strong></td>
<td style="text-align: center; background-color: #f0f0f0; width: 14.3%; border: 1px solid #dddddd;"><strong>火</strong></td>
<td style="text-align: center; background-color: #f0f0f0; width: 14.3%; border: 1px solid #dddddd;"><strong>水</strong></td>
<td style="text-align: center; background-color: #f0f0f0; width: 14.3%; border: 1px solid #dddddd;"><strong>木</strong></td>
<td style="text-align: center; background-color: #f0f0f0; width: 14.3%; border: 1px solid #dddddd;"><span style="color: #000000;"><strong>金</strong></span></td>
<td style="text-align: center; background-color: #f2f3ff; width: 14.3%; border: 1px solid #dddddd;"><span style="color: #2925d9;"><strong>土</strong></span></td>
</tr>
<tr>
<td style="text-align: center; background-color: #ffeded; border: 1px solid #dddddd;"><span style="color: #e71c17;">1</span></td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">2</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">3</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">4</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">5</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">6</td>
<td style="text-align: center; background-color: #f2f3ff; border: 1px solid #dddddd;"><span style="color: #2925d9;">7</span></td>
</tr>
<tr>
<td style="text-align: center; width: 80px; height: 75px; background-color: #ffeded; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; width: 80px; background-color: #ffffff; border: 1px solid #dddddd;"><br /></td>
<td style="text-align: center; width: 80px; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; width: 80px; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; width: 80px; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; width: 80px; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; width: 80px; background-color: #f2f3ff; border: 1px solid #dddddd;">&nbsp;</td>
</tr>
<tr style="background-color: #ededed;">
<td style="text-align: center; background-color: #ffeded; border: 1px solid #dddddd;"><span style="color: #e71c17;">8</span></td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">9</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">10</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">11</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">12</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">13</td>
<td style="text-align: center; background-color: #f2f3ff; border: 1px solid #dddddd;"><span style="color: #2925d9;">14</span></td>
</tr>
<tr>
<td style="text-align: center; height: 75px; background-color: #ffeded; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; background-color: #f2f3ff; border: 1px solid #dddddd;">&nbsp;</td>
</tr>
<tr style="background-color: #ededed;">
<td style="text-align: center; background-color: #ffeded; border: 1px solid #dddddd;"><span style="color: #e71c17;">15</span></td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">16</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">17</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">18</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">19</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">20</td>
<td style="text-align: center; background-color: #f2f3ff; border: 1px solid #dddddd;"><span style="color: #2925d9;">21</span></td>
</tr>
<tr>
<td style="text-align: center; height: 75px; background-color: #ffeded; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; background-color: #f2f3ff; border: 1px solid #dddddd;">&nbsp;</td>
</tr>
<tr>
<td style="text-align: center; background-color: #ffeded; border: 1px solid #dddddd;"><span style="color: #e71c17;">22</span></td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">23</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">24</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">25</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">26</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">27</td>
<td style="text-align: center; background-color: #f2f3ff; border: 1px solid #dddddd;"><span style="color: #2925d9;">28</span></td>
</tr>
<tr>
<td style="text-align: center; height: 75px; background-color: #ffeded; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; background-color: #f2f3ff; border: 1px solid #dddddd;">&nbsp;</td>
</tr>
<tr style="background-color: #ededed;">
<td style="text-align: center; background-color: #ffeded; border: 1px solid #dddddd;"><span style="color: #e71c17;">29</span></td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">30</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;31</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;" colspan="4"><br /></td>
</tr>
<tr>
<td style="text-align: center; height: 75px; background-color: #ffeded; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: center; background-color: #ffffff; border: 1px solid #dddddd;">&nbsp;</td>
<td style="text-align: left; background-color: #ffffff; border: 1px solid #dddddd;"><span style="border-collapse: separate;"><span style="font-size: xx-small;"><span style="border-collapse: collapse; font-size: 8px;"><br /></span></span></span></td>
<td style="text-align: left; background-color: #ffffff; width: 57.2%; border: 1px solid #dddddd;" colspan="4"><span style="border-collapse: separate;"><span style="font-size: xx-small;"><span style="border-collapse: collapse; font-size: 8px;">Bright ideas,nice design.<br />A WEBSITE DESIGN SOFTWARE [ FOR THE REST OF US ]</span></span></span><span style="border-collapse: separate;"><span style="font-size: xx-small;">&nbsp;</span></span></td>
</tr>
</tbody>
</table></div></div>
</div></div></div></div>
</div></div><div class="abl"></div><div class="abr"></div><div class="abc"></div></div></div>

</div></div><div class="abl"></div><div class="abr"></div><div class="abc"></div></div></div>
<div id="blank-footer"></div>
</div></div>

<div id="area-footer" class="area noskin cssskin-_area_footer"><div class="wrap">
<div class="atl"></div><div class="atr"></div><div class="atc"></div><div class="amm"><div class="aml"></div><div class="amr"></div><div class="amc">
<div id="bk1727" class="block plain cssskin-_block_footer bd-sm-expert"><div class="col-2"><div class="simple skin-2 type-2"><div class="lhm">
<div class="column set-1"><!--このブロックでは余白のカスタム設定を利用しています。[行間&amp;余白設定]で確認、変更することができます。--></div><div class="column set-2">
<address class="ar" /></div>
</div></div></div></div>
</div></div><div class="abl"></div><div class="abr"></div><div class="abc"></div></div></div>
</body>
</html>